# dependencies
node_modules/
**/node_modules/

# build output
**/dist/
**/build/
**/coverage/
**/.nyc_output/

# temp
**/.temp/
**/.tmp/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# runtime
pids/
*.pid
*.seed
*.pid.lock

# misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnp
.pnp.js
.yarn/install-state.gz

# reports
report.*.json

# prisma generated temp output
**/generated/prisma/
